body{
    min-height: 100vh;
    
}

#needsaGrid{

    margin-right: 10cm;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#main{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    
    background-color: rgb(232, 73, 73);
    min-height: 80vh;

    padding: 50px;
    
    color: antiquewhite;
}